{% extends 'base.html.twig' %}

{% block title %}Modifier une Race{% endblock %}

{% block body %}
<div class="container mt-4">
    <h1 class="text-center text-primary">Modifier une Race 🦁</h1>

    <div class="card p-4 shadow-lg">
        {{ include('animal_breed/_form.html.twig', {'button_label': 'Mettre à jour'}) }}
    </div>

    <div class="d-flex justify-content-between mt-3">
        <a href="{{ path('app_animal_breed_index') }}" class="btn btn-outline-secondary">Retour à la liste</a>
        {{ include('animal_breed/_delete_form.html.twig') }}
    </div>
</div>
{% endblock %}
