{% extends 'base.html.twig' %}

{% block title %}Réserver une visite{% endblock %}

{% block body %}
<div class="container mt-5">
    <h2 class="text-center mb-4">Réservez votre visite</h2>
    {{ form_start(form) }}
        {{ form_widget(form, { 'attr': {'class': 'p-4 shadow-lg rounded bg-white'} }) }}
        <button type="submit" class="btn btn-primary w-100">Réserver</button>
    {{ form_end(form) }}
</div>
{% endblock %}
