{% extends 'base.html.twig' %}

{% block title %}Edit InfoAnimal{% endblock %}

{% block body %}
    <h1>Edit InfoAnimal</h1>

    {{ include('info_animal/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_info_animal_index') }}">back to list</a>

    {{ include('info_animal/_delete_form.html.twig') }}
{% endblock %}
