<form method="post" action="{{ path('app_image_animal_delete', {'id': image_animal.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ image_animal.id) }}">
    <button class="btn">Delete</button>
</form>
