{% extends 'base.html.twig' %}

{% block title %}New ImageAnimal{% endblock %}

{% block body %}
    <h1>Create new ImageAnimal</h1>

    {{ include('image_animal/_form.html.twig') }}

    <a href="{{ path('app_image_animal_index') }}">back to list</a>
{% endblock %}
