{% extends 'base.html.twig' %}

{% block title %}New ImageHabitat{% endblock %}

{% block body %}
    <h1>Create new ImageHabitat</h1>

    {{ include('image_habitat/_form.html.twig') }}

    <a href="{{ path('app_image_habitat_index') }}">back to list</a>
{% endblock %}
