{% extends 'base.html.twig' %}

{% block title %}AnimalBreed{% endblock %}

{% block body %}
    <h1>AnimalBreed</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ animal_breed.id }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_animal_breed_index') }}">back to list</a>

    <a href="{{ path('app_animal_breed_edit', {'id': animal_breed.id}) }}">edit</a>

    {{ include('animal_breed/_delete_form.html.twig') }}
{% endblock %}
